$nav-font-color : #FFFFFF;
$drop-down-font-color : #000000;
$bg-nav-bar : 5a9cf3;
nav {
  &.navbar-default {
    background-color: #5a9cf3;
    li {
      a {
        &.nav-font-color {
          color : $nav-font-color
        }
      }
    }
  }
}
