<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="<%= sub_route %>components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= sub_route %>css/style.min.css">
</head>
<body>

<div class="row" id="app">
    <nav class="navbar navbar-default">
        <div class="container container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/" class="nav-font-color">หน้าหลัก</a>
                </li>
                <li v-if="!authentication">
                    <a href="/register" class="nav-font-color">ลงทะเบียน</a>
                </li>
                <li v-if="authentication && !isAdministrator">
                    <a href="/register" class="nav-font-color">แก้ไขข้อมูลส่วนตัว</a>
                </li>
                <li v-if="!isAdministrator">
                    <a href="/stars/vote_list" class="nav-font-color">รายการโหวต</a>
                </li>
                <li v-if="!isAdministrator">
                    <a href="/stars/sum_score" class="nav-font-color">คะแนนรวม</a>
                </li>
                <li v-if="!isAdministrator">
                    <a href="/contract" class="nav-font-color">ติดต่อ</a>
                </li>
                <li v-if="isAdministrator">
                    <a href="#" class="dropdown-toggle nav-font-color" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                        จัดการข้อมูลผู้ใช้
                        <span class="caret" ></span>
                    </a>
                    <ul slot="dropdown-menu" class="dropdown-menu">
                        <li><a href="/user" >จัดาการข้อมูลนักศึกษา</a></li>
                        <li><a href="/stars" >จัดการข้อมูลดาวเดือน</a></li>
                        <li><a href="/admin" >จัดการข้อมูลผู้ดูแลระบบ</a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-right" >

                <form class="navbar-form navbar-left" @submit="onLogin($event)" v-if="!authentication">
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="email" placeholder="EmailAddress">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" v-model="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">ลงชื่อเข้าใช้</button>
                </form>
                <button class="btn" v-if="authentication" v-on:click="onLogout($event)">ออกจากระบบ</button>
            </div>
        </div>
    </nav>


    <!-- component -->
    <alert
            :show.sync="alertShow"
            :duration="3000"
            type="danger"
            width="400px"
            placement="top"
            dismissable>
        <span class="icon-info-circled alert-icon-float-left"></span>
        <strong>แจ้งเตือน</strong>
        <p>{{alertMessage}}</p>
    </alert>

    <alert
            :show.sync="alertSuccessShow"
            :duration="3000"
            type="success"
            width="400px"
            placement="top"
            dismissable>
        <span class="icon-info-circled alert-icon-float-left"></span>
        <strong>แจ้งเตือน</strong>
        <p>{{alertSuccessMsg}}</p>
    </alert>
    <!-- end component -->
</div>