<% var sub_route = '../' %>
<% include templates/header.ejs %>
<div class="container" id="administrators">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary" @click="showModal(false)">เพิ่มผู้ดูแลระบบ</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" @click="showModal(true)">แก้ไขรหัสผ่าน</button>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <td>ลำดับที่</td>
                <td>อีเมล</td>
                <td>ลบ</td>
            </tr>
            <tr v-for="admin in administrators">
                <td>{{$index+1}}</td>
                <td>{{admin.email}}</td>
                <td>
                    <button class="btn btn-danger" @click="confirmRemoveAdmin = true,removeEmail = admin.email" >ลบ</button>
                </td>
            </tr>
        </table>
    </div>


    <!-- components -->
    <modal :show.sync="formModal" effect="zoom" width="30vw">
        <div slot="modal-header" class="modal-header">
            <strong v-text="modalTitle"></strong>
        </div>
        <div slot="modal-body" class="modal-body">
            <div class="form-group"  v-show="!isEditPassword">
                <label for="adminEmail">อีเมลผู้ดูแลระบบ</label>
                <input type="text" class="form-control" id="adminEmail" placeholder="example@mju.ac.th" v-model="newEmail" />
            </div>
            <div class="form-group" >
                <label for="password">รหัสผ่าน</label>
                <input type="password" class="form-control" id="password" placeholder="****" v-model="password" />
            </div>
            <div class="form-group" >
                <label for="confirmPassword">ยืนยันรหัสผ่าน</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="****" v-model="confirmPassword" />
            </div>
        </div>
        <div slot="modal-footer" class="modal-footer" style="text-align: center">
            <button type="button" class="btn btn-success" @click='confirmModal($event,email)'>ยืนยันการ{{modalTitle}}</button>
            <button type="button" class="btn btn-default" @click='formModal = false'>ยกเลิกการทำรายการ</button>
        </div>
    </modal>
    <modal :show.sync="confirmRemoveAdmin" effect="zoom" width="20vw">
        <div slot="modal-header" class="modal-header">
            แก้ไขรหัสผ่าน
        </div>
        <div slot="modal-body" class="modal-body">
            ยืนยันการลบผู้ดูแลระบบ
        </div>
        <div slot="modal-footer" class="modal-footer" style="text-align: center">
            <button type="button" class="btn btn-danger" @click='deleteAdministratorsByEmail(removeEmail)'>ยืนยันการลบ</button>
            <button type="button" class="btn btn-default" @click='confirmRemoveAdmin = false'>ยกเลิกการลบ</button>
        </div>
    </modal>

    <alert
            :show.sync="showAlert"
            :duration="3000"
            type="success"
            width="400px"
            placement="top"
            dismissable>
        <span class="icon-info-circled alert-icon-float-left"></span>
        <strong>แจ้งเตือน</strong>
        <p>{{alertMessage}}</p>
    </alert>
    <!-- end components -->
</div>
<% include templates/scripts.ejs %>
<script src="js/administrators.js"></script>
<% include templates/footer.ejs %>
