<% var sub_route = '' %>
<% include templates/header.ejs %>

<!--<div class="container" id="contract">-->
    <!--<h1>ติดต่อเรา</h1>-->
    <!--<form @submit="onSubmit($event)">-->
        <!--<div class="form-group">-->
            <!--<input type="text" v-model="userEmail" placeholder="อีเมลของคุณ">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<input type="text" v-model="userSubject" placeholder="ชื่อของคุณ">-->
        <!--</div>-->
        <!--<div>-->
            <!--<textarea v-model="contactContent">ข้อความนี้จะส่งเรา</textarea>-->
        <!--</div>-->
        <!--<button class="btn btn-primary" type="submit">ส่งข้อความ</button>-->
    <!--</form>-->
<!--</div>-->

<div class="container">
    <div class="row">
        <form role="form" class="col-md-9 go-right">
            <h2>ติดต่อเรา</h2>
            <p>โปรดกรอกข้อมูลให้ครบ</p>
            <div class="form-group">
                <input id="userEmail" name="email" type="text" class="form-control" required>
                <label for="userEmail">Your Email</label>
            </div>
            <div class="form-group">
                <input id="userSubject" name="subject" type="text" class="form-control" required>
                <label for="userSubject">Your Name</label>
            </div>
            <div class="form-group">
                <textarea id="message" name="phone" class="form-control" required></textarea>
                <label for="message">Message</label>
            </div>
            <button class="btn btn-primary" type="submit">ส่งข้อความ</button>
        </form>
    </div>
</div>
<% include templates/scripts.ejs %>
<script src="js/contract.js"></script>
<% include templates/footer.ejs %>
