<% var sub_route = '' %>
<% include templates/header.ejs %>
<div class="container" id="stars">
    <div class="row">
        <button class="btn btn-warning"
                @click="addStarButton = true">
            คลิก เพิ่มผู้เข้าประกวด
        </button>
        <select v-model="star_type" @change="fetchStars()">
            <option value="boys">เดือน</option>
            <option value="girls">ดาว</option>
            <option value="ladyBoys">ดาวเทียม</option>
            <option value="tomBoys">เดือนเทียม</option>
        </select>
        <select v-model="select_year" @change="fetchStars()">
            <option v-for="year in list_year" value="{{year}}">{{year}}</option>
        </select>
    </div>
    <div class="row">
        <table class="table" v-show="stars.length > 0">
            <tr>
                <td>ลำดับ</td>
                <td>รหัสผู้เข้าประกวด</td>
                <td>ชื่อ-สกุลผู้เข้าประกวด</td>
                <td>สาขาผู้เข้าประกวด</td>
                <td>ลบ</td>
            </tr>
            <tr v-for="star in stars">
                <td>
                    <span v-text="$index+1"></span>
                </td>
                <td>
                    <span v-text="star.star_id"></span>
                </td>
                <td>
                    <span v-text="star.star_name+' '+star.star_lname"></span>
                </td>
                <td>
                    <span v-text="star.major_name"></span>
                </td>
                <td>
                    <button class="btn btn-danger" @click="confirmRemoveStar = true,removeStarId = star.star_id">ลบ</button>
                </td>
            </tr>
        </table>
    </div>

    <!-- component -->
    <modal :show.sync="addStarButton" effect="fade" width="400">

            <div slot="modal-header" class="modal-header">
                <h4 class="modal-title">
                    <p>เพิ่มผู้เข้าประกวดใหม่</p>
                </h4>
            </div>
            <div slot="modal-body" class="modal-body">
                <form action="/stars/add" method="post" enctype="multipart/form-data" v-el:star-form>
                    <div class="form-group">
                        <label for="studentName">ชื่อ นามสกุล</label>
                        <input type="text" class="form-control" placeholder="ชื่อ - นามสกุล"  name="starName" />
                    </div>

                    <div class="">
                        <p><b> ประเภทเข้าประกวด </b></p>
                        <select class="form-control" name="starCode">
                            <option value="B" >   เดือน      </option>
                            <option value="G" >   ดาว       </option>
                            <option value="L" >   ดาวเทียม   </option>
                            <option value="T" >   เดือนเทียม  </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">กรอกหมายเลขผู้เข้าประกวด</label>
                        <input type="text" class="form-control" placeholder="ใส่เฉพาะตัวเลข" name="starId" />
                    </div>

                    <div class="form-group">
                        <label for="">สาขาผู้เข้าประกวด</label>
                        <select class="form-control" v-model="starMajor" name="major">
                            <option v-for="major in listMajor" value="{{major.major_id}}">{{major.major_name}}</option>
                        </select>

                    </div>


                    รูปภาพ: <input type="file" name="profile_pic"><br>
                </form>
            </div><!--สิ้นสุด-->

            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-success" @click="onSubmit($event)">บันทึกข้อมูลผู้เข้าประกวด</button>
                <button type="button" class="btn btn-default" @click="addStarButton = false">ยกเลิกการบันทึกข้อมูล</button>
            </div>

    </modal>

    <modal :show.sync="confirmRemoveStar" effect="zoom" width="20vw">
        <div slot="modal-body" class="modal-body">
            ยืนยันการผู้เข้าประกวด {{ removeStarId }}
        </div>
        <div slot="modal-footer" class="modal-footer" style="text-align: center">
            <button type="button" class="btn btn-danger" @click='deleteStar(removeStarId)'>ยืนยันการลบ</button>
            <button type="button" class="btn btn-default" @click='confirmRemoveStar = false'>ยกเลิกการลบ</button>
        </div>
    </modal>

    <alert
            :show.sync="showAlert"
            :duration="3000"
            type="success"
            width="400px"
            placement="top"
            dismissable>
        <span class="icon-info-circled alert-icon-float-left"></span>
        <strong>แจ้งเตือน</strong>
        <p>{{alertMessage}}</p>
    </alert>
    <!-- end component -->
</div>

<% include templates/scripts.ejs %>
<script src="js/stars.js"></script>
<% include templates/footer.ejs %>
