<% var sub_route = '../' %>
<% include templates/header.ejs %>

<div class="container" id="sumSocre">
    <div class="row">
        <div class="col-md-3">
            <canvas id="pieChart" width="200px" height="200px"></canvas>
        </div>
        <div class="col-md-9" style="padding: 7.5vh">
            <div class="progress">
                <progressbar :now="100" label type="warning" striped animated></progressbar>
            </div>
            <div class="progress">
                <progressbar :now="75" label type="success" striped animated></progressbar>
            </div>
            <div class="progress">
                <progressbar :now="50" label type="danger" striped animated></progressbar>
            </div>
            <div class="progress">
                <progressbar :now="25" label type="primary" striped animated></progressbar>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div v-if="boys.length > 0">
                <div class="row" v-for="boy in boys">
                    <first-star-image
                            sub-route="<%= sub_route %>"
                            v-bind:star-id="boy.star_id"
                            v-bind:star-year="boy.star_year"
                            v-bind:star-name="boy.star_name+' '+boy.star_lname"
                            v-bind:vote-count="boy.vote_count"
                            v-if="!$index" ></first-star-image>
                    <next-star-image
                            sub-route="<%= sub_route %>"
                            v-bind:star-id="boy.star_id"
                            v-bind:star-year="boy.star_year"
                            v-bind:star-name="boy.star_name+' '+boy.star_lname"
                            v-bind:vote-count="boy.vote_count"
                            v-else ></next-star-image>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div v-if="girls.length > 0">
                <div class="row" v-for="girl in girls">
                    <first-star-image
                            sub-route="<%= sub_route %>"
                            v-bind:star-id="girl.star_id"
                            v-bind:star-year="girl.star_year"
                            v-bind:star-name="girl.star_name+' '+girl.star_lname"
                            v-bind:vote-count="girl.vote_count"
                            v-if="!$index" ></first-star-image>
                    <next-star-image
                            sub-route="<%= sub_route %>"
                            v-bind:star-id="girl.star_id"
                            v-bind:star-year="girl.star_year"
                            v-bind:star-name="girl.star_name+' '+girl.star_lname"
                            v-bind:vote-count="girl.vote_count"
                            v-else ></next-star-image>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div v-if="lady_boys.length > 0">
                <div class="row" v-for="lady_boy in lady_boys">
                    <first-star-image
                            sub-route="<%= sub_route %>"
                            v-bind:star-id="lady_boy.star_id"
                            v-bind:star-year="lady_boy.star_year"
                            v-bind:star-name="lady_boy.star_name+' '+lady_boy.star_lname"
                            v-bind:vote-count="lady_boy.vote_count"
                            v-if="!$index" ></first-star-image>
                    <next-star-image
                            sub-route="<%= sub_route %>"
                            v-bind:star-id="lady_boy.star_id"
                            v-bind:star-year="lady_boy.star_year"
                            v-bind:star-name="lady_boy.star_name+' '+lady_boy.star_lname"
                            v-bind:vote-count="lady_boy.vote_count"
                            v-else ></next-star-image>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div v-if="tom_boys.length > 0">
                <div class="row"  v-for="tom_boy in tom_boys">
                    <first-star-image
                            sub-route="<%= sub_route %>"
                            v-bind:star-id="tom_boy.star_id"
                            v-bind:star-year="tom_boy.star_year"
                            v-bind:star-name="tom_boy.star_name+' '+tom_boy.star_lname"
                            v-bind:vote-count="tom_boy.vote_count"
                            v-if="!$index" ></first-star-image>
                    <next-star-image
                            sub-route="<%= sub_route %>"
                            v-bind:star-id="tom_boy.star_id"
                            v-bind:star-year="tom_boy.star_year"
                            v-bind:star-name="tom_boy.star_name+' '+girl.star_lname"
                            v-bind:vote-count="tom_boy.vote_count"
                            v-else ></next-star-image>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
</div>
<% include templates/scripts.ejs %>
<script src="<%= sub_route %>js/sum_score.js"></script>
<% include templates/footer.ejs %>
